<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HISContext" connectionString="server=10.108.2.11;uid=his;pwd=His5200;database=WXKY;Application Name=HISServer_WXKY" providerName="System.Data.SqlClient" />
    <add name="Gpdb" connectionString="server=10.108.2.11;uid=his;pwd=His5200;database=GroupData;Application Name=HISServer_WXKY" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Env" value="WXKY"/>
    <add key="AppSerect" value="AFdb258" />
    <add key="RemotingHost" value="127.0.0.1:9104" />
    <add key="IsCompression" value="true" />
    <add key="MinCompressionSize" value="5" />
    <add key="UploadReportTempalteDir" value="F:\SynologyDrive\WebApp\HISServer\PrintTemplate"/>
  </appSettings>
</configuration>